# fly.toml app configuration file generated for misterprompt-trading-bot on 2025-12-19T12:58:44+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "trading-bot-nasdaq"
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
